.App-header {
  /* text-align: center; */
  color: #22264a;
  font-weight: 600;
  padding: 1.5rem;
  padding-left: 3rem;
}

.paymentPage {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 2rem; */
}

.card {
  width: 80%;
  height: 88px;
  background: #ffffff;
  /* Border/Medium */
  border: 1px solid #e9e8ef;
  border-radius: 4px;
  display: flex;
  /* flex-direction: row;
  justify-content: space-between; */
  /* align-content: center; */
  /* padding-left: 2rem; */
  margin: 1rem;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 2rem;
  margin: 2rem; */
}

.amount {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #22264a;
}

.card-header {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #616280;
}

.options {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: #9191a5;
  width: 20px;
  height: 20px;
}

.paymentMethod-container {
  width: 80%;
}
.paymentMethod-header {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #616280;
}

#upi-header {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.01em;

  /* Text/Light */

  color: #9191a5;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.paymentOptions {
  display: flex;
}

.upiOptions {
  width: 70px;
  height: max-content;
  padding: 2px;
}

.upiName {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  /* identical to box height, or 158% */

  letter-spacing: 0.01em;

  /* Text/Light */

  color: #9191a5;
  padding: 10px;
}

.img-container {
  width: 56px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #fafafa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  margin: 5px;
}

img {
  width: 28px;
  height: 28px;
  object-fit: contain;
  margin: auto;
  margin-top: 14px;
  margin-bottom: 14px;
  display: block;
}

#custom-pay {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #3238d8;
}



.userDetail {
  /* width: 328px; */
  width: 80%;
}

.userDetail-header {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #9191a5;
}

.userDetail-main {
  width: 328px;
  height: fit-content;
  background: #fafafa;
  padding: 1.5rem;
  margin-top: 1rem;
}

.userDetail-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.userName {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #22264a;
}

.bankName {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  /* identical to box height, or 158% */

  letter-spacing: 0.01em;

  /* Text/Light */

  color: #9191a5;
}

.userDetail-accountDetail {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.accountLabel {
  /* Caption/Normal */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #9191a5;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.labelValue {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #22264a;
}
